In [83]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Dell\\Desktop\\python\\weather_data (1).csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
df.shape

(6, 4)

In [7]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
df[::-1]

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny
4  1/5/2017           32          4   Rain
3  1/4/2017           24          7   Snow
2  1/3/2017           28          2   Snow
1  1/2/2017           35          7  Sunny
0  1/1/2017           32          6   Rain

In [26]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [29]:
df.day,df["event"]

(0    1/1/2017
 1    1/2/2017
 2    1/3/2017
 3    1/4/2017
 4    1/5/2017
 5    1/6/2017
 Name: day, dtype: object,
 0     Rain
 1    Sunny
 2     Snow
 3     Snow
 4     Rain
 5    Sunny
 Name: event, dtype: object)

In [30]:
type(df["event"])

pandas.core.series.Series

In [38]:
df[["day","temperature","event"]]

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [44]:
df["temperature"].max(),df["temperature"].mean()

(35, 30.333333333333332)

In [45]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [52]:
df[df.temperature>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [50]:
df[df.event=="Rain"]

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain

In [54]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [65]:
df[['day','temperature']][df.temperature==35]

        day  temperature
1  1/2/2017           35

In [84]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [85]:
df.set_index("day")

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [86]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [87]:
df.set_index("day",inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [88]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [91]:
df.reset_index(inplace=True)

In [92]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [99]:
df.loc[[2,3]]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [101]:
df.loc[2]

day            1/3/2017
temperature          28
windspeed             2
event              Snow
Name: 2, dtype: object